.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display:flex;
  background: rgba(0,0,0,0.5);
}

.modal {
  padding: 30px;
  height:fit-content;
  min-width: 25vw;
  margin: 200px auto;
  background: #fff;
  border-radius: 10px;
}

.new-event-form p {
  margin: 10px;
  padding-bottom:10px;
}

.new-event-form label {
  font-size: 0.7em;
}

.modal-btn-parent button { 
  margin: 10px;
}

.close-btn{
  background: rgb(255, 255, 255);
  color: #000000;
  border: 1px solid #000;
}